@model IEnumerable<EURIS.Entities.Product>

@{
    ViewBag.Title = "Product";
}


<h2>@ViewBag.Title</h2>
<hr />
<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success" })
</p>

<table class="table" id="tableMain">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>
    <tbody id="indexTbody">

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ProductId</td>
            <td>@item.Code</td>
            <td>@item.Description</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id = item.ProductId}) |
                @Html.ActionLink("Details", "Details", new {id = item.ProductId}) |
                @Html.ActionLink("Delete", "Delete", new {id = item.ProductId})
            </td>
        </tr>
    }
    </tbody>
</table>