@model IEnumerable<EURIS.Entities.Catalog>

@{
    ViewBag.Title = "Catalog";
}


<h2>@ViewBag.Title</h2>
<hr />
<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success" })
</p>

<table class="table" id="tableMain">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CatalogId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>
    <tbody id="indexTbody">

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CatalogId</td>
                <td>@item.Code</td>
                <td>@item.Description</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.CatalogId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.CatalogId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.CatalogId })           
            
                </td>
            </tr>
        }
   </tbody>
</table>